.pagingContainer{
border : none;
}

.buttonPaging{
border : solid thin;
border-radius: 5px;
float:left;
background: rgb(50,200,100);
padding: 5px;
padding-right: 10px;
padding-left: 10px;
color: #ffffff;
margin-bottom: 5px;
margin-right: 3px;
cursor: pointer;
width: 100px;

}

.buttonAdd {
border : solid thin;
}

.buttonDelete{
border : solid thin;
}

.buttonSelectAll{
border : solid thin;
}

.buttonFind{
border : solid thin;
}

.buttonReload{
border : solid thin;
}

.pagingLinks{
border : solid thin;
float:right;
}

.tblListData{
border : solid thin;
}

.tbodySearchResult{
border : solid thin;
}

.smallSearchContainer{
border-radius: 5px;
padding : 0px 10px 10px 10px;
background: rgb(50,200,100);
color: #ffffff;
box-shadow:0px 0px 6px 6px #ccc;
}

.closeSmallSearch{
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
background:#F00;
height:20px;
width:20px;
float:right;
margin-bottom: 5px;
padding: 2px;
cursor: pointer;
}

.smallSearch{
border : none;
}

.clear{
clear : both;
}

.tblInput{
	padding: 5px;
}

.tblInput tr td{
	padding: 5px;	
}

thead{
	background-color: #dff0d8;
	color: #3c763d;
}